

# Projet de Data Analyse : Refonte d'un Dashboard de Performance

**Contexte :** Dans ma pr√©c√©dente vie (oui, oui, celle o√π j'√©tais un simple ing√©nieur m√©trologie/qualification üò¥), je devais suivre la performance de mon √©quipe.  Mon arme secr√®te¬†? Un dashboard Excel digne d'un artiste peintre... enfin, presque.  Il √©tait fonctionnel, mais aussi styl√© qu'une feuille de calcul vierge.  On √©tait loin du niveau de *flex* qu'on attend en 2024.

**Objectif :**  Aujourd'hui, je suis en mode *level up* data analysis üí™.  Je suis en train de ma√Ætriser le SQL, Python (avec Pandas et Seaborn, mes nouveaux meilleurs amis), Power BI et Tableau.  Le but du jeu¬†? Refaire mon vieux dashboard Excel ringard avec ces nouvelles technologies, pour un r√©sultat 1000x plus styl√© et surtout beaucoup plus efficace.

**D√©marche :**

* **Python (Pandas & Seaborn):**  Je vais reprendre toutes mes donn√©es et les transformer en un dashboard interactif et visuellement √©poustouflant.  Imagine des graphiques qui bougent, des couleurs qui √©clatent, bref, un truc qui ferait p√¢lir d'envie mon ancien Excel.  On parle d'un *upgrade* monumental, niveau Thanos snap ! üí•
* **Power BI:**  Pour compl√©ter le tout, je vais cr√©er une version du dashboard sur Power BI, pour comparer les deux approches et montrer ma ma√Ætrise de cet outil.  Le but √©tant de pouvoir choisir l‚Äôoutil le plus appropri√© pour une utilisation donn√©e. 

**R√©sultats attendus :** Deux dashboards identiques en termes de donn√©es pr√©sent√©es, mais avec une diff√©rence de pr√©sentation, d'interactivit√© et de possibilit√©s d'analyse.

**Pourquoi c'est cool¬†?**

Parce que c'est un projet concret, qui d√©montre mes comp√©tences en data analysis et ma capacit√© √† utiliser diff√©rents outils.  C'est aussi l'occasion de montrer que je peux transformer une vieille feuille Excel en un dashboard moderne et performant.  C‚Äôest un peu comme passer de la Gameboy √† la Playstation 5, mais en data¬†! üöÄ

## D√©marche

1.  **Collecte et pr√©paration des donn√©es¬†:** Les donn√©es sources proviennent du tableau de bord Excel existant.  Une √©tape de nettoyage et de transformation des donn√©es est n√©cessaire pour garantir la qualit√© et la coh√©rence des donn√©es.  Cela inclut la gestion des valeurs manquantes, la correction des erreurs et la cr√©ation de nouvelles variables si n√©cessaire.

2.  **D√©veloppement du dashboard Python¬†:** Utilisation de Pandas pour la manipulation et l'analyse des donn√©es et de Seaborn pour la cr√©ation de visualisations de haute qualit√©. Les visualisations incluent¬†:
    *   Tableau pour pr√©senter les indicateurs cl√©s (Moyens en service, Moyens actifs, Total retards, Taux de service, Taux de retard, Temps de retard moyen).
    *   Histogramme pour analyser les retards par atelier et par dur√©e de retard.
    *   Camembert pour visualiser la distribution des √©quipements par statut.

3.  **D√©veloppement du dashboard Power BI¬†:**  Cr√©ation d'un tableau de bord √©quivalent dans Power BI, en utilisant ses fonctionnalit√©s de visualisation interactive et de reporting.


## Indicateurs cl√©s

*   **Moyens en service N1¬†:** √âquipements disponibles √† l'utilisation.
*   **Moyens actifs N2¬†:** √âquipements disponibles + √©quipements en attente de service.
*   **Total retards N3¬†:** Nombre total de retards.
*   **Taux de service N1/N2¬†:** Rapport entre les moyens en service et les moyens actifs.
*   **Taux de retard N3/N2¬†:** Rapport entre le total des retards et les moyens actifs.
*   **Temps de retard moyen (mois)¬†:** Retard moyen en mois.
*   **Nombre d'√©talonnages¬†:** Nombre d'√©talonnages r√©alis√©s.

## Technologies utilis√©es

*   Python (Pandas, Seaborn, Matplotlib)
*   Power BI
*   Excel

## R√©sultats attendus

*   Deux dashboards fonctionnels et interactifs (Python et Power BI).
*   Un code source Python clair, document√© et facilement maintenable.

## 1/ Pr√©paration et collecte des donn√©es

In [1]:
import pandas as pd 

clean_data = pd.read_pickle("clean_data.pkl")
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marquage          7175 non-null   object
 1   Famille           7175 non-null   object
 2   Unnamed: 2        0 non-null      float64
 3   Date Validit√©     5205 non-null   datetime64[ns]
 4   Etat              7175 non-null   object
 5   ATELIER / ILOT    6994 non-null   object
 6   DATE_REALISATION  5117 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 392.5+ KB

# Nettoyage des donn√©es pour le dashboard de performance

1. **Suppression de la colonne "`Unnamed: 2`"**: Cette colonne ne contient que des valeurs nulles.  Elle est donc inutile pour mon analyse et je vais la supprimer.

2. **Gestion des √©quipements sans date de validit√©**: Les √©quipements sans date de validit√© dans la colonne "`Date Validit√©`" ne sont pas soumis √† l'√©talonnage.  Pour √©viter de supprimer par erreur des √©quipements en attente d'√©talonnage, je vais supprimer uniquement les lignes sans date de validit√© ET dont l'√©tat n'est PAS 'ATTENTE'. Cette approche garantit que je ne perds pas d'informations cruciales sur les √©quipements qui n√©cessitent une intervention.

3. **V√©rification de la coh√©rence des donn√©es**:  Avant de poursuivre, je vais v√©rifier la coh√©rence des donn√©es dans les colonnes restantes ('`Marquage`', '`Famille`', '`Etat`', '`ATELIER / ILOT`').  J'utiliserai la m√©thode `.unique()` pour identifier les valeurs uniques et d√©tecter d'√©ventuelles erreurs ou incoh√©rences. 

4. **Conversion de type (si n√©cessaire)**: Les colonnes '`Date Validit√©`' et '`DATE_REALISATION`' sont d√©j√† de type `datetime64`. Les autres colonnes ne continnent que des donn√©es qualitatives.

Les √©tapes de nettoyage termin√©s, je vais enregistrer les donn√©es sur un fichier .pkl, afin de poursuivre le projet sur une nouveau fichier .ipynb.

In [2]:
#---------------------------------1/ Supression colonne unnammed-------------------------------------------------------
clean_data.pop('Unnamed: 2')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7170   NaN
7171   NaN
7172   NaN
7173   NaN
7174   NaN
Name: Unnamed: 2, Length: 7175, dtype: float64

In [3]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7175 entries, 0 to 7174
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marquage          7175 non-null   object
 1   Famille           7175 non-null   object
 2   Date Validit√©     5205 non-null   datetime64[ns]
 3   Etat              7175 non-null   object
 4   ATELIER / ILOT    6994 non-null   object
 5   DATE_REALISATION  5117 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 336.5+ KB

In [4]:
#---------------------------------2/ Supression des √©quipements n√©c√©ssitant pas d'√©talonnage---------------------------
clean_data['Etat'].unique()

array(['PERDU', 'COMPOSANT CHAINE', 'EN SOMMEIL', 'HORS GESTION',
       'EN SERVICE', 'EN ETAL/VERIF EXT', 'INDICATEUR', 'NON UTILISE',
       'EN ETAL/VERIF INT', 'ATTENTE DISPONIBILITE', 'REBUT',
       'EN SERVICE REDUIT', 'SOUS ANOMALIE', 'REPARATION NON GEREE',
       'VERIF AVANT UTIL', 'EN PRET', 'EN REPARATION EXT'], dtype=object)

In [5]:
clean_data['Date Validit√©'].unique()

<DatetimeArray>
[                'NaT', '2021-06-12 00:00:00', '2017-12-14 00:00:00',
 '2021-01-16 00:00:00', '2020-04-24 00:00:00', '2022-08-01 00:00:00',
 '2022-08-02 00:00:00', '2022-08-04 00:00:00', '2022-07-23 00:00:00',
 '2023-12-06 00:00:00',
 ...
 '2023-10-24 00:00:00', '2024-06-16 00:00:00', '2023-08-31 00:00:00',
 '2023-10-14 00:00:00', '2024-11-17 00:00:00', '2023-12-05 00:00:00',
 '2024-02-09 00:00:00', '2025-01-11 00:00:00', '2024-09-07 00:00:00',
 '2025-10-09 00:00:00']
Length: 950, dtype: datetime64[ns]

In [6]:
date_validite_nul=clean_data.loc[clean_data['Date Validit√©'].isnull(), ['Etat', 'Date Validit√©']].drop_duplicates()
date_validite_nul

                       Etat Date Validit√©
0                     PERDU           NaT
1          COMPOSANT CHAINE           NaT
92             HORS GESTION           NaT
119       EN ETAL/VERIF EXT           NaT
134              EN SOMMEIL           NaT
147              INDICATEUR           NaT
1099            NON UTILISE           NaT
4079                EN PRET           NaT
4184  ATTENTE DISPONIBILITE           NaT
4203          SOUS ANOMALIE           NaT
5628      EN ETAL/VERIF INT           NaT
5629             EN SERVICE           NaT
6595      EN REPARATION EXT           NaT

In [7]:
#suppression des lignes dont l'√©tat est  ['PERDU','COMPOSANT CHAINE','HORS GESTION','INDICATEUR','NON UTILISE']
from datetime import datetime, timedelta

# Filtrage des √©quipements perdus avec date de validit√© d√©pass√©e d'un an
perdus_expires = clean_data.loc[
    (clean_data['Etat'].str.lower() == 'perdu') &
    (pd.to_datetime(clean_data['Date Validit√©']) < (pd.to_datetime('2023/11/1') - timedelta(days=365))),['Etat', 'Date Validit√©']
]

clean_data.drop(perdus_expires.index, inplace=True)

clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7012 entries, 0 to 7174
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marquage          7012 non-null   object
 1   Famille           7012 non-null   object
 2   Date Validit√©     5042 non-null   datetime64[ns]
 3   Etat              7012 non-null   object
 4   ATELIER / ILOT    6831 non-null   object
 5   DATE_REALISATION  4954 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 383.5+ KB

In [8]:
autres_equipements_non_geres = clean_data.loc[
    clean_data['Etat'].isin(['COMPOSANT CHAINE','HORS GESTION','INDICATEUR','NON UTILISE'])
]
clean_data.drop(autres_equipements_non_geres.index, inplace=True)
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5262 entries, 0 to 7174
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marquage          5262 non-null   object
 1   Famille           5262 non-null   object
 2   Date Validit√©     4706 non-null   datetime64[ns]
 3   Etat              5262 non-null   object
 4   ATELIER / ILOT    5083 non-null   object
 5   DATE_REALISATION  4639 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 287.8+ KB

In [9]:
#il reste encore des √©quipements sans date de validit√© on va les afficher √† la recherche d'o√π √ßa peut venir
clean_data.loc[
    clean_data['Date Validit√©'].isna()
]

,Marquage,Famille,Date Validit√©,Etat,ATELIER / ILOT,DATE_REALISATION
0,ACTTB1172,GENERATEUR DE FONCTION,NaT,PERDU,MOYENS D'ESSAIS,NaT
6,EL166,/,NaT,PERDU,NaN,NaT
8,PT0002,CAPTEUR DE TEMPERATURE,NaT,PERDU,EXTERIEUR,NaT
9,PT0003,CAPTEUR DE TEMPERATURE,NaT,PERDU,EXTERIEUR,NaT
119,E41584,SHUNT,NaT,EN ETAL/VERIF EXT,SUPPORT TECHNIQUE CLIENTS,NaT
...,...,...,...,...,...,...
7165,M92230,COUPLEMETRE,NaT,EN ETAL/VERIF EXT,ESSAIS MOTEURS ET EQUIPEMENTS,NaT
7170,M92159-1,CLE REGLABLE A ECHELLE GRADUEE,NaT,SOUS ANOMALIE,LIGNE PIECES √Ä AUBAGES,NaT
7172,M92231,POMPE HYDRAULIQUE,NaT,EN ETAL/VERIF INT,LIGNE PIECES √Ä AUBAGES,NaT
7173,AP030,/,NaT,EN ETAL/VERIF EXT,ESSAIS MOTEURS ET EQUIPEMENTS,NaT
7174,MA060,POSTE A SOUDER,NaT,EN SERVICE,LIGNE PIECES M√âCANO-SOUD√âES,NaT

In [10]:
#etat des √©quipements dont la date de validit√© est non renseign√©e
clean_data.loc[
    clean_data['Date Validit√©'].isna()
].groupby('Etat').count()

,Marquage,Famille,Date Validit√©,ATELIER / ILOT,DATE_REALISATION
Etat,,,,,
ATTENTE DISPONIBILITE,17,17,0,17,0
EN ETAL/VERIF EXT,5,5,0,5,0
EN ETAL/VERIF INT,8,8,0,8,0
EN PRET,2,2,0,0,0
EN REPARATION EXT,1,1,0,1,0
EN SERVICE,10,10,0,10,0
EN SOMMEIL,454,454,0,452,0
PERDU,53,53,0,52,0
SOUS ANOMALIE,6,6,0,6,0

13 sont en √©talonnage  
17 en attente de dispo  
2 en pr√™t  
1 en r√©paration  
10 sont toutefois en service  ==> Il faudra les identifier et essayer de comprendre o√π ils sont par la suite  
53 sont perdus  
6 sous anomalie  
454 sont en sommeil  

Je ne vais pas supprimer plus de colonnes, parce que ce tableau met quand m√™me en √©vidence 556 √©quipements non g√©r√©s, dont 10 en service, ce qui peut √™tre une √©l√©ment critique √† consid√©rer. Ce sera un tableau √† reprendre lors du rapport d'analyse.

In [11]:
#---------------------------------3/ V√©rification coh√©rence donn√©es ------------------------------------------------
clean_data.columns

Index(['Marquage', 'Famille', 'Date Validit√©', 'Etat', 'ATELIER / ILOT',
       'DATE_REALISATION'],
      dtype='object')

In [12]:
colonnes=['Famille', 'Date Validit√©', 'Etat', 'ATELIER / ILOT',
       'DATE_REALISATION']
for colonne in colonnes:
    print(clean_data[colonne].unique())

['GENERATEUR DE FONCTION' '/' 'CAPTEUR DE FORCE' 'CAPTEUR DE TEMPERATURE'
 'ACCELEROMETRE MONO-AXE (NON ICP)' 'CAPTEUR DE PRESSION' 'MOTEURS'
 'EQUIPEMENTS' 'ACCELEROMETRE' 'MANOMETRE' 'FREQUENCEMETRE' 'AMPEREMETRE'
 'VOLTMETRE' 'THERMOMETRE' 'DEBITMETRE A TURBINE' 'EPROUVETTE GRADUEE'
 'CHRONOMETRE' 'CHA√éNE DE TEMPERATURE' 'VALISE DE TEST ELECTRIQUE' 'SHUNT'
 'BALANCE' 'MULTIMETRE' 'CLE REGLABLE A ECHELLE GRADUEE' 'BAROMETRE'
 'EQUILIBREUSE' 'CHAINE DE MESURE DE PRESSION' 'CLE REGLEE A COUPLE FIXE'
 'ETUVE' 'ENREGISTREUR' 'HYDRAULIQUE' 'GENERATEUR MULTIFONCTION'
 'AMPLIFICATEUR' 'CONVERTISSEUR ANALOGIQUE' 'AFFICHEUR' 'COUPLEMETRE'
 'MILLIAMPEREMETRE' 'CLE DYNAMOMETRIQUE' 'MACHINE DE FORCE'
 'DEBITMETRE CORIOLIS' 'TACHYMETRE' 'TOURNEVIS DYNAMOMETRIQUE'
 'CLE A REARMEMENT MANUEL' 'TESTEUR - BRACELET' 'LUMINANCEMETRE'
 'CHAINE DE FORCE' 'MACHINE DE DURETE' 'DUROMETRE' 'MICRODUROMETRE'
 'MICROSCOPE' 'MACROSCOPE' 'SONDE' 'RADIAMETRE' 'PINCE BAND IT' 'BUNKER'
 'RADIOMETRE-LUXMETRE' 'BANC DE CHARGE' 'VERIN' 'VISSEUSE ELECTRIQUE'
 'ACCESSOIRES' "MODULE D'ACQUISITION" 'ACQUISITION DE MESURE'
 "CENTRALE D'ACQUISITION" 'MOBILE'
 'PRELEVEMENT POUR ANALYSE DE PARTICULES'
 'PRELEVEMENT POUR ANALYSE MASSE VOLUMIQUE ET PCI' 'ANALYSE' 'COMPTAGE'
 'BALANCE DE PESSEE' 'PESON' 'MASSE' 'DYNAMOMETRE' 'CAPACIMETRE'
 'PONT DE MESURE' '2-S17 CARTE PXI NUMERISEUR/OSCILLO 2GS/S8 BIT'
 'ETALONNEUR' 'BOITE DE RESISTANCES' 'MICRO-OHMETRE' 'OSCILLOSCOPE'
 'ALIMENTATION' "INDICATEUR D'ORDRE DE PHASE" 'CAMERA THERMIQUE'
 'GENERATEUR DE FREQUENCE' 'MEGOHMMETRE' 'PISTOLET A AIR CHAUD'
 'CALIBRATEUR' 'CARTE VXI' 'CHARGE ELECTRONIQUE' 'CHASSIS VXI TEKTRONIX'
 'SONDE DE COURANT' 'PINCE AMPEREMETRIQUE' 'SONDE DIFFERENTIELLE TENSION'
 'CARTE PXI VARIATION RESISTANCE' 'CARTE PXI MULTIMETRE' 'CARTE PXI SCOPE'
 'MULTIPLEXEUR' 'FILTRE' 'GENERATEUR DE SIGNAL ARBITRAIRE'
 "MESUREUR D'EPAISSEUR" 'TRANSFORMATEUR' 'ELEMENT CHAUFFANT' 'MESURE'
 'PUISSANCEMETRE' 'GENERATOR CURRENT' 'CALIBRATEUR UNIVERSEL' 'PYROMETRE'
 '2-S18 CARTE PXI MULTIMETRE 6 1/2 DIGIT'
 '2-S16 CARTE PXI MATRICE.44X4 1 POLE BLINDE'
 'SONDE COURANT 2 VOIES 50 MHZ' 'CALIBRATEUR DE PRESSION'
 'CALIBRATEUR THERMOCOUPLE' 'CONDUCTIVIMETRE' 'DIFFERENTIEL'
 'BAIN THERMOSTATE' 'CUVE' 'RACK DE MESURE  DE COUPLE' 'REDRESSEUR'
 'PINCE A SERTIR' 'PINCE A FERRULES'
 'CLE DYNAMOMETRIQUE A LECTURE DIRECTE' 'PINCE THERMIQUE'
 'POMPE HYDRAULIQUE' 'DEBITMETRE A FLOTTEUR' 'TURBINE DEBITMETRIQUE'
 'DEBITMETRE A PISTON' 'DEBIMETRE MASSIQUE THERMIQUE' 'BUSE DE MESURE'
 'CAPACITE' 'ACCELEROMETRE MONO-AXE (ICP)'
 'ACCELEROMETRE TRI-AXE (NON ICP)' 'CAPTEUR DE DEPLACEMENT'
 'GENERATEUR DE PRESSION' 'PHMETRE' 'CAPTEUR DE COUPLE'
 'SOUPAPE DE SECURITE' 'POSTE A SOUDER' 'STATION METEO'
 'SONDE DE CONDUCTIVIMETRE' "BANC D'ETALONNAGE" 'SCANNER DE PRESSION'
 'RALLONGE DE CLE DYNAMOMETRIQUE' 'MACHINE SOUDAGE FRICTION'
 'MACHINE A DEGRAISSER' 'MACHINE DE NETTOYAGE US' 'BANC DE TEST'
 'REFRIGERATEUR' 'FUSION LASER' 'TEMPERATURE PLATEAU' 'PRESSE HYDRAULIQUE'
 'MACHINE ELECTRO-EROSION' 'SERTISSEUSE HYDRAULIQUE' 'ENCEINTE CLIMATIQUE'
 'THERMOMETRE LASER' 'MESUREUR' 'TUYERE' 'CALIBRATEUR ACCOUSTIQUE'
 'OUTILLAGE' 'SIMULATEUR DE SONDE' 'DEBITMETRE A ENGRENAGES' 'PRESSE'
 'CAPTEUR' 'BINOCULAIRE' 'ANEMOMETRE' 'ELECTRIQUE' 'CLE ELECTRONIQUE'
 'MOYEN DE NETTOYAGE' 'TUS' 'JAUGE A VIDE' 'ETALONNAGE' 'SAT' 'SEC'
 'REGULATEUR' 'REC' 'BOITE A CAPACITE' 'DENSIMETRE' 'CALORIMETRE'
 'ACCELEROMETRE TRI-AXE (ICP)' "MARTEAU D'IMPACT"
 'COMPTEUR A SCINTILLATION LIQUIDE' 'REGULATEUR DE TEMPERATURE'
 'CHASSIS GANTNER' 'THERMO-HYGROMETRE' 'DETECTEUR DE FUITE GAZ'
 "COLONNE D'EAU" 'CHAINE DE MESURE DE DEPLACEMENT'
 'MOYEN DE RADIOGRAPHIE RX' 'REFRACTOMETRE' 'BOUGIE ELECTRIQUE'
 'RLC METRE' 'RETENTION DE CONTACTS' "RAPPORTEUR D'ANGLE"]
<DatetimeArray>
[                'NaT', '2021-06-12 00:00:00', '2022-08-04 00:00:00',
 '2022-07-23 00:00:00', '2023-12-06 00:00:00', '2023-12-07 00:00:00',
 '2021-09-24 00:00:00', '2023-10-28 00:00:00', '2024-01-02 00:00:00',
 '2024-10-11 00:00:00',
 ...
 '2023-09-08 00:00:00', '2023-10-24 00:00:00', '2024-06-16 00:00:00',
 '2023-08-31 00:00:00', '2024-11-17 00:00:00', '2023-12-05 00:00:00',
 '2024-02-09 00:00:00', '2025-01-11 00:00:00', '2024-09-07 00:00:00',
 '2025-10-09 00:00:00']
Length: 789, dtype: datetime64[ns]
['PERDU' 'EN SOMMEIL' 'EN SERVICE' 'EN ETAL/VERIF EXT' 'EN ETAL/VERIF INT'
 'ATTENTE DISPONIBILITE' 'REBUT' 'EN SERVICE REDUIT' 'SOUS ANOMALIE'
 'REPARATION NON GEREE' 'VERIF AVANT UTIL' 'EN PRET' 'EN REPARATION EXT']
["MOYENS D'ESSAIS" nan 'ILOT R&T' 'EXTERIEUR' '/' 'BANCS SIMMAD'
 'SUPPORT TECHNIQUE CLIENTS' 'ATELIER MURET'
 'ESSAIS MOTEURS ET EQUIPEMENTS' 'MCO' 'BANC RTDI'
 'TTH & PIECES ELEMENTAIRES' 'ESSAI RTDI' 'ASSEMBLAGE ET EQUILIBRAGE'
 'ISOLEMENT EQUIPEMENTS' "PROJETS MOYENS D'ESSAIS"
 'LIGNE PIECES √Ä AUBAGES' 'AQ FABRICATION' 'MATERIAUX & PROC√âD√âS'
 'EXPERTISES' 'SSE' 'LIGNE SERVICES' 'ATELIER R√âPARATION' 'LOGISTIQUE'
 'A.Q FABRICATION' 'R√âGULATION EQUIPEMENTS' 'HYDRAULIQUE RTDI'
 'LIGNE PIECES DE FONDERIES' 'LIGNE PIECES M√âCANO-SOUD√âES'
 'METROLOGIE DIMENSIONNELLE' 'QUALITE FOURNISSEUR' 'MAINTENANCE']
<DatetimeArray>
[                'NaT', '2020-06-12 00:00:00', '2021-08-04 00:00:00',
 '2021-07-23 00:00:00', '2022-12-06 00:00:00', '2022-12-07 00:00:00',
 '2022-10-28 00:00:00', '2022-07-22 00:00:00', '2023-01-02 00:00:00',
 '2023-10-11 00:00:00',
 ...
 '2022-03-17 00:00:00', '2022-07-08 00:00:00', '2022-08-29 00:00:00',
 '2022-07-13 00:00:00', '2022-09-08 00:00:00', '2023-06-16 00:00:00',
 '2022-12-05 00:00:00', '2023-02-09 00:00:00', '2023-09-01 00:00:00',
 '2023-09-07 00:00:00']
Length: 715, dtype: datetime64[ns]

Pas d'incoh√©rence dans les valeurs des diff√©rentes colonnes  
Il existe parcontre des √©quipements dont on ne conna√Æt pas l'atelier.

In [13]:
atelier_manquant=clean_data.loc[
    clean_data['ATELIER / ILOT'].isna(),['Etat','ATELIER / ILOT']
].drop_duplicates()

atelier_manquant

            Etat ATELIER / ILOT
6          PERDU            NaN
1786  EN SOMMEIL            NaN
4079     EN PRET            NaN

Mais ce sont des √©quipements perdus, en sommeil, des composants de cha√Æne ou en pr√™t.  
Donc pas d'incoh√©rance en soit.

In [14]:
#-------------------------4/ Enregistrement au format pickel-------------------------------------------------------
clean_data = clean_data.to_pickle("clean_data.pkl")